.checkout-title{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 30px;
}

.n-order{
    text-align: center;
    padding-bottom: 40px;
    font-size: 20px;
}

.home-button{
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(45, 6, 6);
    border: 1px solid rgb(235, 144, 144);
    border-radius: 5px;
    color: rgb(203, 124, 124);
    font-size: 20px;
}